Package: com.vsnrain.ccsystemstatus-core
Name: CCSystemStatus-core
Depends: de.j-gessner.ccloader, firmware (>= 7.0)
Conflicts: gsc.ipad
Version: 1.3
Architecture: iphoneos-arm
Description: System Information Control Center (CCLoader) plugin.
Author: vsnrain
Maintainer: vsnrain
Section: Addons (ControlCenter)
